.noteCard{
    background-color: rgb(41, 73, 255);
}

.cardText{
    overflow: hidden;
    color: white;
    mask-image: linear-gradient(180deg, #000 50%, transparent);
}

.cardTemp{
    white-space: pre-line;
}